rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /x_tweets/{tweetId} {
      allow read: if false;
      allow write: if false;
    }
  }
}